
html {
	/* smoth lets go to the link without a sharp jump */
	scroll-behavior: smooth;
}
html {
	--color-primary:#d73953;
	--color-black:#090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);
}
body, a {
	/* set black foreground color */
	color: var(--text-color);
}

.visually-hidden {
	/* hide element HOMEPAGE */
	display: none;
}

.card-category {
	/* set foreground color in red */
	color:var(--color-primary);
}
.section-tagline {
	/* set foreground color in red */
	color: var(--color-primary);
}
